In [1]:
import numpy as np
import pandas as pd

In [5]:
cluster_data = pd.read_csv('compressed_clustering.csv')

In [6]:
cluster_data.groupby(['state_2']).count()

,TRU,day,event_id,lat,lon,month,protest category,year,infra_dist,social status (A/NA,pop_attrs,infra_area,social_housing,distance,infra_num
state_2,,,,,,,,,,,,,,,
Andhra Pradesh,8,8,8,8,8,8,8,8,8,8,8,8,8,8,8
Bihar,4646,4646,4646,4646,4646,4646,4646,4646,4646,4646,4646,4646,4646,4646,4646
Dadra and Nagar Haveli,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3
Goa,1410,1410,1410,1410,1410,1410,1410,1410,1410,1410,1410,1410,1410,1410,1410
Gujarat,7477,7477,7477,7477,7477,7477,7477,7477,7477,7477,7477,7477,7477,7477,7477
India (general),896,896,896,896,896,896,896,896,896,896,896,896,896,896,896
Jharkhand,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2
Karnataka,7494,7494,7494,7494,7494,7494,7494,7494,7494,7494,7494,7494,7494,7494,7494
Kerala,2868,2868,2868,2868,2868,2868,2868,2868,2868,2868,2868,2868,2868,2868,2868
Madhya Pradesh,12,12,12,12,12,12,12,12,12,12,12,12,12,12,12
Maharashtra,14496,14496,14496,14496,14496,14496,14496,14496,14496,14496,14496,14496,14496,14496,14496
Rajasthan,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
Uttar Pradesh,29,29,29,29,29,29,29,29,29,29,29,29,29,29,29
West Bengal,26,26,26,26,26,26,26,26,26,26,26,26,26,26,26

In [7]:
cluster_data_kerala = cluster_data[cluster_data['state_2']==' Kerala']

In [8]:
cluster_data_kerala.shape

(2868, 16)

In [10]:
cluster_data_kerala.to_csv('kerala_cluster_data.csv')

In [35]:
df = pd.read_csv('kerala_cluster_data.csv')

In [29]:
df.shape

(2868, 17)

In [73]:
df.drop(['day_str'],inplace=True,axis=1)

In [36]:
df.head()

,Unnamed: 0,TRU,day,event_id,lat,lon,month,protest category,state_2,year,infra_dist,social status (A/NA,pop_attrs,infra_area,social_housing,distance,infra_num
0,0,Urban,2,258094576,11.06670,76.0667,7,Appeal,Kerala,2013,0.022133,0.195600,0.005036,0.025578,0.741547,0.000000,0.000000
1,1,Urban,16,259662992,12.50000,75.0000,7,Appeal,Kerala,2013,0.031802,0.272393,0.037962,0.007007,0.651429,0.044623,0.051617
2,2,Rural,16,259679155,9.85000,76.9667,7,Assault,Kerala,2013,0.088637,0.195600,0.114337,0.000819,0.663452,0.201116,0.000000
3,3,Urban,19,268327050,8.88056,76.5917,9,Assault,Kerala,2013,0.013641,0.514929,0.020606,0.001346,0.698491,0.066888,0.151460
4,4,Rural,19,287435840,10.00000,76.5000,2,Appeal,Kerala,2014,0.043878,0.457674,0.069245,0.000321,0.669672,0.122706,0.000000

In [71]:
df['day'] = df['day'].astype('str')
df['month'] = df['month'].astype('str')
df['year'] = df['year'].astype('str')

In [75]:
date =[]
for index,row in df.iterrows():
    date.append(row['day'] +"-"+ row['month'] +"-"+ row['year'])

In [77]:
df['date'] = date

In [85]:
df.drop(['year'],inplace=True,axis=1)

In [2]:
from datetime import datetime

In [80]:
d1 = datetime.strptime('2-7-2013', "%d-%m-%Y")
d2 = datetime.strptime('19-9-2013', "%d-%m-%Y")

In [82]:
abs((d1 - d2).days)

79

In [3]:
from haversine import haversine

In [88]:
haversine((11.06670,76.0667),(12.50000,75.0000))

197.184731520222

In [90]:
a = np.zeros((3,3))

In [92]:
a = [[0,0],[1,0]]

In [96]:
a = np.array(a)

In [98]:
a+a.transpose()

array([[0, 1],
       [1, 0]])

In [145]:
df_sub = df

In [146]:
df_sub.shape

(2868, 11)

In [147]:
space = np.zeros((df_sub.shape[0],df_sub.shape[0]))
spatio_temporal = np.zeros((df_sub.shape[0],df_sub.shape[0]))
all_attrs = np.zeros((df_sub.shape[0],df_sub.shape[0]))

In [149]:
for i in range(1,df_sub.shape[0]):
    for j in range(0,i):
        dist,days,diff=calc_dist(df_sub.iloc[i],df_sub.iloc[j])
        space[i,j] = dist
        spatio_temporal[i,j] = (dist+days)/2
        all_attrs[i,j] = (dist+days+diff)/3

In [148]:
def calc_dist(event1,event2):
    dmax = 3000
    tmax = 2550
    dist = haversine((event1['lat'],event1['lon']),(event2['lat'],event2['lon']))
    d1 = datetime.strptime(event1['date'], "%d-%m-%Y")
    d2 = datetime.strptime(event2['date'], "%d-%m-%Y") 
    days = abs((d1 - d2).days)
    a = ['social status (A/NA','pop_attrs','infra_area','social_housing','distance','infra_num']
    diff = 0
    for i in a:
        diff = diff + abs(event1[i] - event2[i])
    diff = diff/len(a)
    dist = dist/dmax
    days = days/tmax
    return dist, days, diff

In [129]:
for i in range(1,df_sub.shape[0]):
    for j in range(0,(i)):
        print(i,j)

1 0
2 0
2 1

In [151]:
all_attrs.shape

(2868, 2868)

In [152]:
space = space+space.transpose()
spatio_temporal = spatio_temporal+spatio_temporal.transpose()
all_attrs = all_attrs + all_attrs.transpose()

In [195]:
np.save('space.npy',space)

In [196]:
np.save('spatio_temporal.npy',spatio_temporal)

In [197]:
np.save('all_attrs',all_attrs)

In [136]:
np.savetxt('test.csv',all_attrs,delimiter=',')

In [2]:
space = np.load('space.npy')
spatio_temporal = np.load('spatio_temporal.npy')
all_attrs = np.load('all_attrs.npy')

In [3]:
from sklearn.cluster import DBSCAN

In [4]:
db_space = DBSCAN(eps=0.005, min_samples = 4, metric='precomputed')

In [5]:
db_space.fit(space)

DBSCAN(algorithm='auto', eps=0.005, leaf_size=30, metric='precomputed',
    metric_params=None, min_samples=4, n_jobs=1, p=None)

In [6]:
db_st = DBSCAN(eps=0.005, min_samples = 4, metric='precomputed')

In [7]:
db_st.fit(spatio_temporal)

DBSCAN(algorithm='auto', eps=0.005, leaf_size=30, metric='precomputed',
    metric_params=None, min_samples=4, n_jobs=1, p=None)

In [8]:
db_all = DBSCAN(eps=0.005, min_samples = 4, metric='precomputed')

In [9]:
db_all.fit(all_attrs)

DBSCAN(algorithm='auto', eps=0.005, leaf_size=30, metric='precomputed',
    metric_params=None, min_samples=4, n_jobs=1, p=None)

In [10]:
labels_space = db_space.labels_

In [11]:
labels_st = db_st.labels_

In [12]:
labels_all = db_all.labels_

In [13]:
no_clusters_st = len(set(labels_st)) - (1 if -1 in labels_st else 0)

In [14]:
no_clusters_space = len(set(labels_space)) - (1 if -1 in labels_space else 0)

In [15]:
no_clusters_all = len(set(labels_all)) - (1 if -1 in labels_all else 0)

In [16]:
no_clusters_space

24

In [17]:
no_clusters_st

96

In [18]:
no_clusters_all

96

In [177]:
#np.nonzero(labels_st == 0)[0]

In [19]:
from collections import Counter

In [21]:
labels_st_count = Counter(labels_st)

In [20]:
labels_s_count = Counter(labels_space)

In [29]:
labels_all_count = Counter(labels_all)

In [31]:
labels_all_count.most_common(2)

[(-1, 997), (2, 266)]

In [23]:
labels_st_count.most_common(4)

[(-1, 487), (8, 482), (9, 482), (10, 314)]

In [22]:
labels_s_count.most_common(2)

[(4, 638)]

In [32]:
cluster_all_2 = np.where(labels_all==2)[0]

In [26]:
cluster_s_1.shape

(7,)

In [33]:
df_cluster_all_2 = pd.DataFrame(columns=['lat','lon'])

In [37]:
j=0
for i in cluster_all_2:
   df_cluster_all_2.loc[j] =  [df.iloc[i]['lat'],df.iloc[i]['lon']]
   j=j+1

In [38]:
import folium

In [39]:
mapit = folium.Map(location=[20.5937, 78.9629],zoom_start=5)

In [40]:
for index,row in df_cluster_all_2.iterrows():
    folium.Marker( location=[ row['lat'], row['lon'] ]).add_to( mapit )

In [41]:
mapit.save( 'cluster_all_2.html')